{% extends "layout.html" %} {% block title%} Sessions | F1Visualizer {% endblock %} 

{% block body %}

<form action="/createevent" method="post">
    <div>
        <div>
            <label for="name">name:<label>
            <input type="text" name="name" id="name" placeholder="Event name">
        </div>
        <div>
            <label for="track">track: </label>
            <select name="track" id="track" autocomplete="off">
                <option  selected disabled> -- Select track -- </option>
                {% for track in tracks: %}
                <option value="{{track[0]}}">{{track[1]}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="sprint">sprint weekend?</label>
            <input type="checkbox" name="sprint" id="sprint">
        </div>
    </div>
    <p class="session_1">Practice 1</p>
    <div>
        <label for="Practice_1">time/date: </label>
        <input class="session_1" type="datetime-local" id="Practice_1" name="Practice_1">
    </div>
    <p class="session_2">Practice 2</p>
    <div>
        <label for="Practice_2">time/date: </label>
        <input class="session_2" type="datetime-local" id="Practice_2" name="Practice_2">
    </div>
    <p class="session_3">Practice 3</p>
    <div>
        <label for="Practice_3">time/date: </label>
        <input class="session_3" type="datetime-local" id="Practice_3" name="Practice_3">
    </div>
    <p class="session_4">quali</p>
    <div>
        <label for="Qualification">time/date: </label>
        <input class="session_4" type="datetime-local" id="Qualification" name="Qualification">
    </div>
    <p class="session_5">Race</p>
    <div>
        <label for="Race">time/date: </label>
        <input class="session_5" type="datetime-local" id="Race" name="Race">
    </div>
    <button type="submit">Add event</button>
</form>
<script src="static/js/changeWeekendStructure.js"></script>
{% endblock%}