{% extends "layout.html" %} {% block body %}
<h2>Results</h2>
<table>
	<tr>
		<th>position</th>
		<th>driver number</th>
		<th>driver name</th>
		<th>team</th>
		<th>points</th>
	</tr>
	{% for result in results[0]: %}
	<tr>
		<td>{{result[0]}}</td>
		<td>{{result[1]}}</td>
		<td>{{result[2]}}</td>
		<td>{{result[5]}}</td>
		<td>{{result[13]}}</td>
	</tr>
	{% endfor %}
</table>
<h2>Not classified</h2>
<table>
	{% for result in results[1]: %} {% if not result[0] == "NOT CLASSIFIED"%}
	<tr>
		<td>{{result[0]}}</td>
		<td>{{result[1]}}</td>
		<td>{{result[4]}}</td>
	</tr>
	{% endif %} {% endfor %}
</table>
<h2>Fastest lap</h2>
<table>
	<tr>
		<td>{{ fastest_lap[1] }}</td>
		<td>{{ fastest_lap[2] }}</td>
		<td>{{ fastest_lap[3] }}</td>
	</tr>
</table>
{% endblock %}
